<ion-header>
  <ion-toolbar>
    <ion-button id="click-trigger" slot="start" fill="clear">
      <ion-icon 
        color="light"
        name="ellipsis-vertical-outline" 
      />
    </ion-button>
    <ion-popover trigger="click-trigger" triggerAction="click" [dismissOnSelect]="true">
      <ng-template>
        <ion-content class="ion-padding" (click)="logout()">
          Cerrar Sesión
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-title slot="start">{{ schoolClass.name }}</ion-title>
    <ion-buttons slot="end" expand="block" (click)="setOpen(true)">
      <ion-icon 
        color="light" 
        slot="start" 
        name="person-add-outline"
      />
      <ion-button color="light">Nuevo Miembro</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <app-select-date (dateChanged)="setSelectedDate($event)"/>
 
  @if (members.length) {
    <ion-list>
      <ion-item-divider>
        <div class="grid">
          <ion-label class="grid__colum"> Miebros de clase</ion-label>
          <p class="sm-text">
            Asistencia
          </p>
          <p class="sm-text">
            Estudio
          </p>
          <p class="sm-text">
            Misión
          </p>
        </div>
      </ion-item-divider>
      @for (item of members; track $index) {
        <ion-item>
          <div class="grid">
            <div class="grid__colum name">
              {{ item.name }} {{ item.lastName }}
            </div>
            @for (register of item.registerTypes; track $index) {
              <div class="grid__colum">
                  <ion-checkbox [(ngModel)]="register.value"/>
              </div>
            }
          </div>
        </ion-item>
      }
    </ion-list>

    <div class="ion-padding">
      <ion-button class="full-width" type="submit" (click)="saveRegisters()">
        Guardar Registros
      </ion-button>
    </div>

  } @else {
    <div class="empty-placeholder">
      <ion-icon class="icon" name="alert-circle-outline"></ion-icon>
      <p>No hay miembros registrados en la clase</p>
    </div>
  }

</ion-content>

<ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <app-register-member-form (userRegistered)="userRegistered()"/>
  </ng-template>
</ion-modal>
