<div class="ion-padding">
  <div class="title">
    {{ quarter }}
  </div>
  <div class="full-width flex">
    <ion-button color="light" fill="clear" (click)="next()">
      <ion-icon 
          color="medium" 
          slot="icon-only" 
          name="chevron-back-outline"
        />
    </ion-button>
    <div>
      1er Sabado - Noviembre 11
    </div>
    <ion-button color="light" fill="clear" (click)="prev()">
      <ion-icon 
          color="medium" 
          slot="icon-only" 
          name="chevron-forward-outline"
        />
    </ion-button>
  </div>
</div>